matplotlib
numpy
betterlib
mplcursors
pyusb
pandas
bitarray
wheel
halo
GitPython
python-dateutil
tqdm
bitarray
https://github.com/MSLNZ/msl-equipment/releases/download/v0.1.0/msl_equipment-0.1.0-py2.py3-none-any.whl
tqdm